:root{
    --black: #011c25;
    --indigo: #084059;
    --buff: #f1ebe8;
    --sky-blue: #b6e0ee;
    --orange: #e85625;
    --green: #08533c;
    --teal: #94cbb8;
    --pink: #ebd6e6;
    --claret: #9b0b36;
    --blue: #265494;
    --yellow: #fdb515;
}

@layer utilities {
  .b-black {
    background-color: var(--black);
  }

  .c-black {
    color: var(--black);
  }

  .b-indigo {
    background-color: var(--indigo);
  }

  .c-indigo {
    color: var(--indigo);
  }

  .b-buff {
    background-color: var(--buff);
  }

  .bt-buff {
    border-top-color: var(--buff);
  }

  .c-buff {
    color: var(--buff);
  }

  .c-sky-blue {
    color: var(--sky-blue);
  }

  .b-sky-blue {
    background-color: var(--sky-blue);
  }

  .c-orange {
    color: var(--orange);
  }

  .b-orange {
    background-color: var(--orange);
  }

  .b-green {
    background-color: var(--green);
  }

  .c-green {
    color: var(--green);
  }

  .b-teal {
    background-color: var(--teal);
  }

  .c-teal {
    color: var(--teal);
  }

  .c-pink {
    color: var(--pink);
  }

  .b-pink {
    background-color: var(--pink);
  }

  .c-claret {
    color: var(--claret);
  }

  .b-claret {
    background-color: var(--claret);
  }

  .b-blue {
    background-color: var(--blue);
  }

  .c-blue {
    color: var(--blue);
  }

  .b-yellow {
    background-color: var(--yellow);
  }

  .c-yellow {
    color: var(--yellow);
  }

  .b-white {
    background-color: white;
  }

  .c-white {
    color: white;
  }
}