@layer utilities {
  p a {
  @apply
    c-indigo
    transition-all
    duration-300
    ease-in-out
  ;

        background-image: linear-gradient(90deg, var(--orange) 0%, var(--orange) 50%, var(--indigo) 50%, var(--indigo) 100%);
        background-size: 200% 1%;
        background-position: 100% 90%;
        background-repeat: no-repeat;

   /* background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--indigo));
    background-size: 0 2px, 0 2px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;*/
  }

  p a:hover,
  p a:focus {
    @apply c-orange;
    background-position: 0% 90%;
    background-size: 200% 3%;

   /* background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
        background-size: 0 2px, 100% 2px;
        background-position: 100% 100%, 0 100%;*/
  }


}