@font-face{
    font-display:swap;
    font-family:Marselis;
    font-weight:700;
    src:url(../fonts/a4a12545291c.woff2) format("woff2");
}
@font-face{
    font-display:swap;
    font-family:Marselis;
    font-weight:300;
    src:url(../fonts/052645fc8673.woff2) format("woff2");
}
@font-face{
    font-display:swap;
    font-family:Inter;
    font-named-instance:"Regular";
    font-style:normal;
    font-weight:100 900;
    src:url(../fonts/inter-roman.woff2) format("woff2");
}
@font-face{
    font-display:swap;
    font-family:Inter;
    font-named-instance:"Italic";
    font-style:italic;
    font-weight:100 900;
    src:url(../fonts/inter-italic.woff2) format("woff2");
}

@font-face{
    font-display:swap;
    font-family:Smithee;
    font-weight:500;
    src:url(../fonts/smithee.woff2) format("woff2");
}
 
h1,
.h1 {
  @apply
    font-display
    text-2xl
    md:text-4xl
    lg:text-5xl
    uppercase
    leading-super-tight
    tracking-tight
    mb-12
    md:mb-24
  ;
}

h2,
.h2 {
  @apply
    font-serif
    font-bold
    text-md
    md:text-lg
    lg:text-xl
    leading-none
    mb-8
    md:mb-12
  ;
}

h3,
.h3 {
  @apply
    font-display
    text-md
    lg:text-lg
    leading-none
    mb-4
    uppercase
  ;
}



p {
  @apply
    text-md
    font-sans
    mb-4
    lg:text-lg
  ;
}

p.large {
  @apply
    text-lg
    font-serif
    leading-tight
    mb-12
    lg:text-xl
  ;
}

ul {
  @apply
    text-md
    font-sans
    mb-4
    lg:text-lg
  ;
}

li {

}

